body {
    background-color: whitesmoke;
    
}

.header {
    height: 10%;
    background-color: #0074D9;
}

.header__content {
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
}

.site-main {
    height: 85%;
    background-color: white;
}

.main-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
}

.main-content__change-form {
    width: 45%;
    height: 100%;
    float: left;
    margin: 20px;
    border: 1px solid #0074D9;
    border-radius: 25px;
}

.main-content__display-change {
    width: 45%;
    height: 100%;
    float:left;
    margin: 20px;
    background-color: #0074D9;
    border: 1px solid white;
    border-radius: 25px;
}

h1 {
    font-family: 'Arial';
    color: white;
    font-size: 30px;
}

h2 {
    font-family: 'Arial';
    color: #0074D9;
    font-size: 30px;
    margin-top: 125px;
    margin-bottom: 25px;
}

form {
    display: inline;
}

input {
    width: 75%;
    height: 12%;
    margin-right: 15px;
    margin-left: 25px;
    text-align: center;
    font-family: 'Arial';
    color: #0074D9;
    border: 1px solid #0074D9;
    border-radius: 5px;

}

button {
    border: 1px solid #0074D9;
    background-color: white;
    border-radius: 30px;
    color: #0074D9;
    height: 50px;
    width: 14%;
    font-family: 'Arial';
    font-weight: bold;
}

.center {
    text-align: center;
}